<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Data Pengguna</title>
    <link rel="stylesheet" href="/style.css"> 
</head>
<body>
    <div class="edit-user-section">
        <h2>Edit Data Pengguna</h2>
        <form action="/update/<%= user.id %>" method="POST"> 
            <input type="hidden" name="id" value="<%= user.id %>"> 
            <div class="form-group">
                <label for="name">Nama:</label>
                <input type="text" id="name" name="name" required value="<%= user.name %>">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" value="<%= user.email %>">
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input type="text" name="phone" id="phone" value="<%= user.phone %>">
            </div>
            <button type="submit" style="float: right;">Simpan</button> 
        </form>
    </div>
</body>
</html>
